:root {
  --bg-primary: #0F1012;
  --bg-secondary: #1A1B1E;
  --text-primary: #FFFFFF;
  --text-secondary: #888888;
  --accent-blue: #0055FF;
  --accent-red: #FF3B30;
  
  --card-border: 1px solid #2A2B2E;
  --card-radius: 8px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1 {
  color: var(--text-secondary);

}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: var(--card-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: var(--accent-blue);
  color: white;
  cursor: pointer;
  transition: filter 0.25s;
}

button:hover { filter: brightness(1.1); }

input {
  background-color: var(--bg-secondary);
  border: var(--card-border);
  border-radius: var(--card-radius);
  padding: 0.8rem;
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
